POSTGRES_DB=location_diary
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_HOST=127.0.0.1,
POSTGRES_PORT=5435

GDAL_LIBRARY_PATH=/opt/homebrew/lib/libgdal.dylib
GEOS_LIBRARY_PATH=/opt/homebrew/lib/libgeos_c.dylib

GS_BUCKET_NAME=
GS_PROJECT_ID=
GS_CREDENTIALS_FILE=